.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    .login-form-segment{
        padding: 20px;
        height: 330px;
        width: 250px;
        margin: auto;
    }
}

mat-form-field{
    width: 100%;
}

.divider{
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit-container{
    margin-top: 10px;
    margin-bottom: 10px;
}