<div class="container">
    <div class="login-form-segment mat-elevation-z3">
        <h1>Login</h1>
        <form [formGroup]="myForm">
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" >
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone" >
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" >
                </mat-form-field>
            </div>
    
            <div>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" >
                </mat-form-field>
            </div>
        </form>
        <div>
            <button mat-button (click)="submitForm()" >Submit</button>
        </div>
    </div>
</div>
